.contact-form {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.one {
    background-color: yellowgreen;
}

.two {
    background-color: purple;
}

.three {
    background-color: yellow;
}